---
import BaseLayout from "/layouts/BaseLayout.astro";
---

<BaseLayout title="Danke | Petrievents">
  <h2>Vielen Dank!</h2>
  <p>Ihre Nachricht wurde erfolgreich gesendet. Wir melden uns so bald wie möglich bei Ihnen.</p>
  <a href="/">Zurück zur Startseite</a>
</BaseLayout>

<script type="module" is:inline>
  import './scripts/adjustSidebar.js';
</script>