---
import BaseLayout from "/layouts/BaseLayout.astro";
---

<BaseLayout title="Impressum | Petrievents">
  <section class="datenschutz_style">
    <h2>Impressum</h2>

    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>Christian Petri Veranstaltungstechnik</p>

    <p><strong>Kontakt:</strong></p>
    <p>Telefon: 0173 / 993 6282<br />E-Mail: info@petrievents.de</p>

    <p><strong>Inhaltlich verantwortlich:</strong><br />Christian Petri</p>
  </section>
</BaseLayout>

<style>
 .datenschutz_style {
  background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    max-width: 700px;
    margin: 3rem auto;
    font-family: 'Source Serif 4', Georgia, serif;
    color: #222;
    line-height: 1.7;
  }
 