---
import BaseLayout from "/layouts/BaseLayout.astro";
---

<BaseLayout title="Impressum | Petrievents">
  <section class="features">
    <h2>Impressum</h2>

    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>Christian Petri Veranstaltungstechnik</p>

    <p><strong>Kontakt:</strong></p>
    <p>Telefon: 0173 / 993 6282<br />E-Mail: info@petrievents.de</p>

    <p><strong>Inhaltlich verantwortlich:</strong><br />Christian Petri</p>
  </section>
</BaseLayout>

<script src="/scripts/adjustSidebar.js"></script>