---
import BaseLayout from "/layouts/BaseLayout.astro";
---
<BaseLayout title="Mietkatalog | Petrievents">
  <section class="features">
    <h2>Mietkatalog</h2>
     <p>Hier finden Sie unseren aktuellen Mietkatalog als eingebettetes PDF-Dokument:</p>
      <a href="/PetriEvents_mietkatalog.pdf" target="_blank" rel="noopener">
    hier als PDF öffnen
  </a>.
  </section>
</BaseLayout>