---
import BaseLayout from "/layouts/BaseLayout.astro";
---
<BaseLayout title="Mietkatalog | Petrievents">
  <section class="features">
    <h2>Mietkatalog</h2>
        <div class="pdf-container">
            <embed src="/PetriEvents_mietkatalog.pdf" type="application/pdf">
        </div>
  </section>
</BaseLayout>