---
import BaseLayout from "/layouts/BaseLayout.astro";
import PartnerGallery from "/components/PartnerGallery.astro";
import partnerUrls from "/data/partners.json";
---

<BaseLayout title="Partner | Petrievents">
  <section class="features">
    <h2>Partner</h2>
    <PartnerGallery partnerUrls={partnerUrls} />
  </section>
</BaseLayout>
