---
import BaseLayout from "/layouts/BaseLayout.astro";
import PartnerGallery from "/components/PartnerGallery.astro";
---

<BaseLayout title="Partner | Petrievents">
  <section class="features">
    <h2>Partner</h2>
    <PartnerGallery />
  </section>

</BaseLayout>
