---
import BaseLayout from "/layouts/BaseLayout.astro";
---
<BaseLayout title="Preisliste | Petrievents">
  <section class="features">
    <h2>Preisliste</h2>
        <div class="pdf-container">
            <embed src="/PetriEvents_preisliste.pdf" type="application/pdf">
        </div>
  </section>
</BaseLayout>