---
import BaseLayout from "/layouts/BaseLayout.astro";
---
<BaseLayout title="Preisliste | Petrievents">
  <section class="features">
    <h2>Preisliste</h2>
        <embed src="/PetriEvents_preisliste.pdf" width="100%" height="100%" type="application/pdf">
  </section>
</BaseLayout>