---
import BaseLayout from "/layouts/BaseLayout.astro";
---

<div class="layout">
      <!-- Main Content Bereich aus BaseLayout -->
      <main class="main-content">
        <h1>Preisliste</h1>

        <!-- Hier wird das PDF eingebettet -->
        <embed src="/public/PetriEvents_preisliste.pdf" width="100%" height="100%" type="application/pdf">
      </main>
</div>